/*  your css code here. If applicable */
h1{
	text-align:center;	
	span{
		color:blue;
	}
}
input{
	display:grid;
	width:100%;
	margin-bottom:4px;
}
#submit{
	margin-top:10px;
	padding:6px 10px;
	color:white;
	background:blue;
	border:1px solid ;
	border-radius:8px
}
hr{
	border:1px solid;
}

table{
	width:100%;
	margin-top:10px;
}
tbody{
	    text-align: center;
}
#book-list tr .hrLine{
	border:2px solid ;
}
.form-group {
    margin-bottom: 10px;
}

.form-group label {
    display: block;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 5px;
    margin-top: 5px;
}

#submit {
    color: white;
    border: none;
    cursor: pointer;
}

#submit:hover {
    background-color: #218838;
}

.delete {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
}
.delete:hover{
    background-color: rgba(250, 4, 4, 0.518);
}
.table-striped{
	border:0px solid;
}
#book-list tbody tr td{
    text-align: left;
}

