/*  your css code here. If applicable */
h1{
	text-align:center;	
	span{
		color:blue;
	}
}
input{
	display:grid;
	width:100%;
	margin-bottom:4px;
}
button{
	margin-top:10px;
	padding:6px 10px;
	color:white;
	background:blue;
	border:1px solid ;
	border-radius:8px
}
hr{
	border:1px solid;
}

table{
	width:100%;
	margin-top:10px;
}
tbody{
	    text-align: center;
}
tr .hrLine{
	border:2px solid ;
}
.form-group {
    margin-bottom: 10px;
}

.form-group label {
    display: block;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 5px;
    margin-top: 5px;
}

button {
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

.delete-btn {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

